{% extends "base.html" %} 
{% load widget_tweaks %} 
{% block title %}New Employer{% endblock %} 
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% include "form.html" %} 
    {% for hidden in addr.hidden_fields %} {{ hidden }} {% endfor %} 
    {% for field in addr.visible_fields %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }} 
        {% for error in field.errors %}
        <span class="help-block">
            {{ error }}
        </span>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="fph ac">
        <button type="submit" class="pdlr10p pdtb10 rc20 m0a">Submit</button>
    </div>
</form>
{% endblock %}
