{% extends "base.html" %} {% block title %}Freightor{% endblock %}{% block body %}
<div class="container-fluid">
    <!-- Nav bar Top -->
    <div class="row">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                Freightor
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-sm-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com" target="_blank">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Intro -->
    <section id="intro" class="row page-section padded-section">
        <div class="container">
            <div class="intro text-center">
                <p class="display-4">
                    Welcome to Start Up
                    <br> Launching Our Product soon
                </p>
                <p class="tag-line">
                    This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                </p>

                <a class="btn btn-primary" href="#" role="button">
                    Contact Us
                    <span class="fa fa-arrow-right"></span>
                </a>
            </div>
        </div>
    </section>
    <!-- Intro -->

    <!-- About -->
    <section class="row page-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm about-left">
                    <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                    </p>
                </div>
                <div class="col-sm about-right">
                    <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Features -->
    <section class="row page-section padded-section" id="features">
        <div class="container">
            <p class="display-4 text-center">Features</p>
            <div class="row">
                <p class="feature-d col-sm-8 offset-sm-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptateveniam.</p>
            </div>
            <div class="row card-deck" style="margin-bottom:20px;">
                <div class="card col-sm text-center">
                    <span class="lnr lnr-chart-bars"></span>
                    <div class="card-body">
                        <p class="feature-t">Lorem Ipsum</p>
                        <p class="feature-d">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis
                        </p>
                    </div>
                </div>
                <div class="card col-sm text-center">
                    <span class="lnr lnr-chart-bars"></span>
                    <div class="card-body">
                        <p class="feature-t">Lorem Ipsum</p>
                        <p class="feature-d">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis
                        </p>
                    </div>
                </div>
                <div class="card col-sm text-center">
                    <span class="lnr lnr-chart-bars"></span>
                    <div class="card-body">
                        <p class="feature-t">Lorem Ipsum</p>
                        <p class="feature-d">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis
                        </p>
                    </div>
                </div>
            </div>
            <div class="row card-deck">
                <div class="card col-sm text-center">
                    <span class="lnr lnr-chart-bars"></span>
                    <div class="card-body">
                        <p class="feature-t">Lorem Ipsum</p>
                        <p class="feature-d">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis
                        </p>
                    </div>
                </div>
                <div class="card col-sm text-center">
                    <span class="lnr lnr-chart-bars"></span>
                    <div class="card-body">
                        <p class="feature-t">Lorem Ipsum</p>
                        <p class="feature-d">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis
                        </p>
                    </div>
                </div>
                <div class="card col-sm text-center">
                    <span class="lnr lnr-chart-bars"></span>
                    <div class="card-body">
                        <p class="feature-t">Lorem Ipsum</p>
                        <p class="feature-d">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->

    <!-- Pricing -->
    <section class="row page-section padded-section" id="pricing">
        <div class="container">
            <div class="text-center">
                <h1 class="display-4">Pricing</h1>
                <div class="row">
                    <p class="feature-d col-sm-8 offset-sm-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptateveniam.
                    </p>
                </div>
            </div>
            <div class="row card-deck text-center">
                <div class="card col-sm box-shadow">
                    <div class="card-header">
                        <p class="feature-t">Free</p>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">$0
                            <small class="text-muted">/ mo</small>
                        </h1>
                        <ul class="list-unstyled feature-d">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-primary">Sign up for free</button>
                    </div>
                </div>
                <div class="card col-sm box-shadow">
                    <div class="card-header">
                        <p class="feature-t">Free</p>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">$0
                            <small class="text-muted">/ mo</small>
                        </h1>
                        <ul class="list-unstyled feature-d">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-primary">Sign up for free</button>
                    </div>
                </div>
                <div class="card col-sm box-shadow">
                    <div class="card-header">
                        <p class="feature-t">Free</p>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">$0
                            <small class="text-muted">/ mo</small>
                        </h1>
                        <ul class="list-unstyled feature-d">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-primary">Sign up for free</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing -->

    <!--Team-->
    <section class="row page-section padded-section" id="team">
        <div class="container">
            <p class="text-center display-4">Our Team</p>
            <div class="row">
                <p class="feature-d col-sm-8 offset-sm-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptateveniam.</p>
            </div>
            <div class="row card-deck text-center">
                <div class="col-sm card">
                    <div class="card-body">
                        <div>
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="img-fluid rounded-circle" alt="First sample avatar image">
                        </div>
                        <p class="feature-t">Anna Williams</p>
                        <p class="feature-d">Graphic designer</p>

                        <ul class="list-unstyled">
                            <!-- Facebook -->
                            <a class="icons-sm fb-ic">
                                <i class="fa fa-facebook blue-text"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="icons-sm tw-ic">
                                <i class="fa fa-twitter blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="icons-sm ins-ic">
                                <i class="fa fa-instagram blue-text"> </i>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm card">
                    <div class="card-body">
                        <div>
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle" alt="First sample avatar image">
                        </div>
                        <p class="feature-t">John Doe</p>
                        <p class="feature-d">Web developer</p>

                        <ul class="list-unstyled">
                            <!-- Facebook -->
                            <a class="icons-sm fb-ic">
                                <i class="fa fa-facebook blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="icons-sm ins-ic">
                                <i class="fa fa-instagram blue-text"> </i>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm card">
                    <div class="card-body">
                        <div>
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="img-fluid rounded-circle" alt="First sample avatar image">
                        </div>
                        <p class="feature-t">Maria Smith</p>
                        <p class="feature-d">Photographer</p>

                        <ul class="list-unstyled">
                            <!-- Facebook -->
                            <a class="icons-sm fb-ic">
                                <i class="fa fa-facebook blue-text"> </i>
                            </a>
                            <!-- Instagram -->
                            <a class="icons-sm ins-ic">
                                <i class="fa fa-instagram blue-text"> </i>
                            </a>
                            <!-- Dribbble -->
                            <a class="icons-sm ins-ic">
                                <i class="fa fa-dribbble blue-text"> </i>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm card">
                    <div class="card-body">
                        <div>
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="img-fluid rounded-circle" alt="First sample avatar image">
                        </div>
                        <p class="feature-t">Tom Adams</p>
                        <p class="feature-d">Backend developer</p>

                        <ul class="list-unstyled">
                            <!-- Facebook -->
                            <a class="icons-sm fb-ic">
                                <i class="fa fa-facebook blue-text"> </i>
                            </a>
                            <!-- Github -->
                            <a class="icons-sm ins-ic">
                                <i class="fa fa-github blue-text"> </i>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Team-->

    <!-- Contact Us -->
    <section class="row page-section padded-section" id="contact">
        <div class="container">
            <p class="text-center display-4">Contact Us</p>
            <div class="row">
                <p class="feature-d col-sm-8 offset-sm-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptateveniam.</p>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <div id="contact-me">
                        <form class="dv-add-oneto:ContactForm:contacts">
                            <div class="form-group">
                                <label class="feature-t" for="contact-name">Name</label>
                                <input type="text" class="form-control" id="contact-name" placeholder="Jon Snow" name="name" required>
                            </div>
                            <div class="form-group">
                                <label class="feature-t" for="contact-email">Email</label>
                                <input type="email" class="form-control" id="contact-emai " placeholder="jon@snow.com" name="email" required>
                            </div>
                            <div class="form-group ">
                                <label class="feature-t" for="contact-message">Message</label>
                                <textarea type="textarea" class="form-control" rows="5" id="contact-message" placeholder="Enter message here..." name="message"
                                    required></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary">Send</button>
                            </div>
                            <div class="dv-notify-success">
                                <div class="alert alert-success alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <strong>Message Sent Successfully</strong>
                                </div>
                            </div>
                            <div class="dv-notify-failed">
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <strong>Message not sent, please try again</strong>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row contact-details">
                <div class="col-sm text-center">
                    <p class="contact-h">
                        <span class="lnr lnr-home"></span> Address</p>
                    <p class="feature-d">Accra | Ghana</p>
                </div>
                <div class="col-sm text-center">
                    <p class="contact-h">
                        <span class="fa fa-whatsapp"></span> Lets Chat</p>
                    <p class="feature-d">+233 20 254 5487</p>
                </div>
                <div class="col-sm text-center">
                    <p class="contact-h">
                        <span class="lnr lnr-envelope"></span> Email</p>
                    <a class="feature-d" href="mailto:rodgers.ouma@meltwater.org">cap2@meltwater.org</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us -->

    <!-- Scroll Button -->
    <button class="btn rounded-circle" id="top-scroll" onclick="upScroll()">
        <i class="fa fa-chevron-up"></i>
    </button>
    <!-- Scroll Button -->
</div>
{% endblock %}