{% extends "home.html" %} 
{% block title %}Advancia{% endblock %}
{% block content %}
    <section class="container abs fp">
        <a href="#">
            <div class="w70 h70 pd5 abs abs ctr-h top40 adv-logo zi10 rc50p hov-bg-clr9 cur-ptr"></div>
        </a>
        <div class="fph5 fpv4 clr2 ctr-hv zi45 npe cur-ptr">
            <h2 class="ctr clr2 fts46"> BUY NOW, PAY LATER!</h2>

            <div class="ctr-h">
                <a href="{% url 'accounts:signup' user_type='employer' %}" target="blank">
                    <button class="w150 h45 rc25 pd10 bg-clr9 clr2 m0a fts20 pe cur-ptr mt30 mr10">Employer</button>
                </a>
                <a href="{% url 'accounts:signup' user_type='merchant' %}" target="blank">
                    <button class="w150 h45 rc25 pd10 bg-clr9 clr2 m0a fts20  pe cur-ptr mt30 ml10">Merchant</button>
                </a>
            </div>

        </div>
        <div id="testimonyContainer" class="fp testimonials swipe">
            <div class="fp swipe-wrap rltv oh">
                <!--<div class="fp testimonial">
            </div>-->
                <div class="fp testimonial bg-clr14">
                </div>
                <div class="fp testimonial bg-clr8">
                </div>
            </div>
        </div>
    </section>
{% endblock %}