{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Login {% endblock %}
{% block page_styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" /> 
{% endblock %}
{% block body %}
{% block content %}
<div class="fp">
    <div class="w400 fpv7 m0a mt5p rc8 bg-clr2">
        <div class="fph h150 mtb10">
            <div class="hw150 m0a pd30">
                <div class=" m0a fp">
                    <img src="{% static 'img/Advancia-nkd.png' %}" alt="Advancia_Logo" class="fp ctr ac">
                </div>
            </div>
        </div>
        <div class="fph">
            <form method="POST" class="pdtb20 pdlr40">
                {% include "form.html" %}
                <div class="fph ac">
                    <button type="submit" class="pdlr10p pdtb10 rc20 m0a">Login</button>
                </div>
                <div class="pdt30">
                    <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
                    <p><a href="{% url 'accounts:signup' user_type='employer' %}"><p>Don't have an account? Sign Up (Employer)</a></p>
                    <p><a href="{% url 'accounts:signup' user_type='merchant' %}"><p>Don't have an account? Sign Up (Merchant)</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block footer %}
<div class="fph h50 foot-note ac btm0 abs clr2">
    <p class="m0">Copyright (c) 2018</p>
    <p class="m0">Advancia</p>
</div>
{% endblock %}