{% load static %}
<!DOCTYPE html>
<html lang="en" class="fp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% endblock %}</title>

    <!-- Google font
   <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">-->

    <!--Bootstrap-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/root.css' %}" />
    <!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>-->


    <!-- Bee -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bumble-bee.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.min.css' %}" />

    <!-- Slick
   <link type="text/css" rel="stylesheet" href="css/slick.css"/>
   <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>-->


    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" />
    <!---->


</head>

<body class="fp">

    {% block content %}
    
    {% endblock %}
    <!-- jQuery Plugins -->
    <!--<script src="js/jquery.min.js"></script>
-<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>-->

    <script src="{% static 'js/base.js' %}"></script>

    <script src="{% static 'js/Barge.DomCore.js' %}"></script>
    <script src="{% static 'js/Barge.Events.js' %}"></script>

    <script src="{% static 'js/Carousel.js' %}"></script>

    <script>
        Bee.Widget.Carousel("#testimonyContainer", {
            auto: 3000,
            draggable: true,
            autoRestart: true,
            continuous: true,
            disableScroll: true,
            stopPropagation: true
        });
    </script>
</body>

</html>